In [148]:
import pandas as pd
import requests
import textract
import os
from bs4 import BeautifulSoup
import time
import csv

In [149]:
maine = 'https://www.maine.gov/ag/consumer/identity_theft/'
code = requests.get(maine)
plain = code.text
s = BeautifulSoup(plain, "html.parser")

In [150]:
year_urls = ''
for x in s('ul', {'class':"plain"}):
    for item in x('a'):
#     	print(item)   
        if item.get('href') == '../../docs/Data-Breach-Spreadsheet.xlsx':
            year_urls = item.get('href')
print(year_urls)

../../docs/Data-Breach-Spreadsheet.xlsx

In [151]:
updated_year_urls = 'https://www.maine.gov/ag'

In [152]:
year_urls = year_urls[5:]
print(year_urls)

/docs/Data-Breach-Spreadsheet.xlsx

In [153]:
final_url = updated_year_urls + year_urls
print(final_url)

https://www.maine.gov/ag/docs/Data-Breach-Spreadsheet.xlsx

In [154]:
resp = requests.get(final_url)
output = open('test.xls', 'wb')
output.write(resp.content)
output.close()

In [160]:
df = pd.read_excel('test.xls')
df.head(10)

,DATA BREACH NOTICES,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Company Whose Data Was Breached,Company Contact Information,Attorney (If Represented),Date of Breach,Date of Notification,Type of Information,Number of Maine Residents Affected
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Whole Foods Market Group, Inc., 550 Bowie Stre...",None,"Craig Hoffman, Partner, Baker Hostetler LLP, 3...",8/3/2018 (discovered 10/2/18),2018-10-31 00:00:00,Name or other personal identifier in combinati...,3
7,"LJCooper Capital Management, LLC d/b/a LJCoope...",None,"R. David Lane, Marshall Dennehey Warner Colema...",2018-09-18 00:00:00,2018-10-29 00:00:00,Name or other personal identifier in combinati...,1
8,"University of Maine, 46 University Drive, Augu...","Nina R. Lavoie, Sr. Associate Counsel, 621-344...",NaN,Discovered 10/23/18,2018-10-27 00:00:00,Personal data including SSN,32
9,"Star Title Partners of Palm Harbor, LLC, 30522...","Anne Cordell, General Manager & Counsel, 813-3...",NaN,2018-06-04 00:00:00,2018-10-26 00:00:00,Name or other personal identifier in combinati...,4

In [161]:
headers = df.iloc[0]
new_df  = pd.DataFrame(df.values[1:], columns=headers)
new_df.head()

,Company Whose Data Was Breached,Company Contact Information,Attorney (If Represented),Date of Breach,Date of Notification,Type of Information,Number of Maine Residents Affected
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
# new_df.columns = [c.replace(' ', '_') for c in new_df.columns]
new_df.columns = [c.replace(' ', '_') for c in new_df.columns]

In [165]:
new_df.columns

Index(['Company_Whose______Data_Was_Breached', 'Company_Contact_Information',
       'Attorney___________________(If_Represented)', 'Date_of_Breach',
       'Date_of_Notification', 'Type_of_Information',
       'Number_of_Maine_Residents_Affected'],
      dtype='object')